{%  extends "base.html" %}
{% block start %}

    <h1 style="background-color: blueviolet;">Hi i am Avni from Django server</h1>
    <p>hi i am a paragraph</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quidem facilis. Recusandae, nam dignissimos at
        perferendis rem modi alias! Obcaecati ex esse iusto, accusantium velit aperiam perspiciatis exercitationem
        delectus repudiandae?</p>

    <hr>

    {{text}}

    <hr>

    <!-- {{peoples}} -->

    <table>
        <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can Vote</th>
        </tr>

        {% for people in peoples %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td>
                {% if people.age >= 18 %}
                👍
                {% else %}
                👎
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


    <hr>


    <p>
        {% if "pumpkin" in vegetables %}
            yes  available
        {% elif "tomato" in vegetables %}
            yes available
        {% else %}
            Not available
        {% endif %}
    </p>

    <hr>

    <a href="/about">
        About Us 
    </a>
    <br>
    <a href="/contact">
        Contact Us
    </a>


{% endblock %}
